In [1]:
--Table1
select job_id, AVG(salary)as Average,MAX(salary)as MAXIMUM,MIN(salary)as MINIMUM
from employees
GROUP by job_id

job_id,Average,MAXIMUM,MINIMUM
1,8300.000000,8300.00,8300.00
2,12000.000000,12000.00,12000.00
3,4400.000000,4400.00,4400.00
4,24000.000000,24000.00,24000.00
5,17000.000000,17000.00,17000.00
6,7920.000000,9000.00,6900.00
7,12000.000000,12000.00,12000.00
8,6500.000000,6500.00,6500.00
9,5760.000000,9000.00,4200.00
10,13000.000000,13000.00,13000.00
11,6000.000000,6000.00,6000.00
12,10000.000000,10000.00,10000.00
13,2780.000000,3100.00,2500.00
14,11000.000000,11000.00,11000.00
15,13750.000000,14000.00,13500.00
16,7550.000000,8600.00,6200.00
17,3950.000000,4000.00,3900.00
18,2700.000000,2700.00,2700.00
19,7650.000000,8200.00,6500.00

In [2]:
--Table2
select department_name, COUNT(*) as 'Number_of_employee' from employees e 
Inner join departments d 
ON d.department_id = e.department_id 
group by e.department_id,department_name

department_name,Number_of_employee
Administration,1
Marketing,2
Purchasing,6
Human Resources,1
Shipping,7
IT,5
Public Relations,1
Sales,6
Executive,3
Finance,6
Accounting,2

In [4]:
--Table3
select count(*) as "count_employees",w.manager_id from
employees w, employees m where
w.manager_id = m.employee_id
group by w.manager_id order by w.manager_id ASC 

//managerName left

count_employees,manager_id
14,100
5,101
1,102
4,103
5,108
5,114
1,120
2,123
1,201
1,205

In [5]:
--Table4
select e.last_name, e.department_id,d.department_name from employees e, departments d
where e.department_id = d.department_id 
order by e.last_name ASC

last_name,department_id,department_name
Austin,6,IT
Baer,7,Public Relations
Baida,3,Purchasing
Bell,5,Shipping
Chen,10,Finance
Colmenares,3,Purchasing
De Haan,9,Executive
Ernst,6,IT
Everett,5,Shipping
Faviet,10,Finance
Fay,2,Marketing
Fripp,5,Shipping
Gietz,11,Accounting
Grant,8,Sales
Greenberg,10,Finance
Hartstein,2,Marketing
Higgins,11,Accounting
Himuro,3,Purchasing
Hunold,6,IT
Johnson,8,Sales
Kaufling,5,Shipping
Khoo,3,Purchasing
King,9,Executive
Kochhar,9,Executive
Livingston,8,Sales
Lorentz,6,IT
Mavris,4,Human Resources
Mikkilineni,5,Shipping
Partners,8,Sales
Pataballa,6,IT
Popp,10,Finance
Raphaely,3,Purchasing
Russell,8,Sales
Sciarra,10,Finance
Taylor,8,Sales
Tobias,3,Purchasing
Urman,10,Finance
Vollman,5,Shipping
Weiss,5,Shipping
Whalen,1,Administration

In [ ]:
--Table5

In [7]:
--Table6
select E.last_name,D.department_name,D.location_id,L.city
from employees E join departments D
ON ( E.department_id = D.department_id )
JOIN locations L 
ON D.location_id = L.location_id 
 where LOWER(l.city) IN ('Southlake' , 'Seattle')
 order by city DESC

last_name,department_name,location_id,city
Hunold,IT,1400,Southlake
Ernst,IT,1400,Southlake
Austin,IT,1400,Southlake
Pataballa,IT,1400,Southlake
Lorentz,IT,1400,Southlake
Whalen,Administration,1700,Seattle
Raphaely,Purchasing,1700,Seattle
Khoo,Purchasing,1700,Seattle
Baida,Purchasing,1700,Seattle
Tobias,Purchasing,1700,Seattle
Himuro,Purchasing,1700,Seattle
Colmenares,Purchasing,1700,Seattle
King,Executive,1700,Seattle
Kochhar,Executive,1700,Seattle
De Haan,Executive,1700,Seattle
Greenberg,Finance,1700,Seattle
Faviet,Finance,1700,Seattle
Chen,Finance,1700,Seattle
Sciarra,Finance,1700,Seattle
Urman,Finance,1700,Seattle
Popp,Finance,1700,Seattle
Higgins,Accounting,1700,Seattle
Gietz,Accounting,1700,Seattle

In [8]:
--Table7
select last_name,(select department_name from departments d
WHERE e.department_id = d.department_id) departments from
employees e order by departments

last_name,departments
Higgins,Accounting
Gietz,Accounting
Whalen,Administration
King,Executive
Kochhar,Executive
De Haan,Executive
Greenberg,Finance
Faviet,Finance
Chen,Finance
Sciarra,Finance
Urman,Finance
Popp,Finance
Mavris,Human Resources
Hunold,IT
Ernst,IT
Austin,IT
Pataballa,IT
Lorentz,IT
Hartstein,Marketing
Fay,Marketing
Baer,Public Relations
Raphaely,Purchasing
Khoo,Purchasing
Baida,Purchasing
Tobias,Purchasing
Himuro,Purchasing
Colmenares,Purchasing
Russell,Sales
Partners,Sales
Taylor,Sales
Livingston,Sales
Grant,Sales
Johnson,Sales
Bell,Shipping
Everett,Shipping
Weiss,Shipping
Fripp,Shipping
Kaufling,Shipping
Vollman,Shipping
Mikkilineni,Shipping

In [10]:
--Table8
select e.last_name,e.department_id as "department_number",d.department_name,j.job_title
from employees e
join departments d
on e.department_id = d.department_id
join jobs j
on e.job_id = j.job_id
where e.department_id In ('9','6','10','3')

last_name,department_number,department_name,job_title
King,9,Executive,President
Kochhar,9,Executive,Administration Vice President
De Haan,9,Executive,Administration Vice President
Hunold,6,IT,Programmer
Ernst,6,IT,Programmer
Austin,6,IT,Programmer
Pataballa,6,IT,Programmer
Lorentz,6,IT,Programmer
Greenberg,10,Finance,Finance Manager
Faviet,10,Finance,Accountant
Chen,10,Finance,Accountant
Sciarra,10,Finance,Accountant
Urman,10,Finance,Accountant
Popp,10,Finance,Accountant
Raphaely,3,Purchasing,Purchasing Manager
Khoo,3,Purchasing,Purchasing Clerk
Baida,3,Purchasing,Purchasing Clerk
Tobias,3,Purchasing,Purchasing Clerk
Himuro,3,Purchasing,Purchasing Clerk
Colmenares,3,Purchasing,Purchasing Clerk

In [11]:
--Table9
select e.last_name as "Employee Name",e.employee_id as "Employee Number", m.first_name as "manager",m.manager_id as "manager Number"
from employees e join employees m
on e.manager_id = m.employee_id
where e.employee_id between 101 and 117

Employee Name,Employee Number,manager,manager Number
Kochhar,101,Steven,NULL
De Haan,102,Steven,NULL
Hunold,103,Lex,100
Ernst,104,Alexander,102
Austin,105,Alexander,102
Pataballa,106,Alexander,102
Lorentz,107,Alexander,102
Greenberg,108,Neena,100
Faviet,109,Nancy,101
Chen,110,Nancy,101
Sciarra,111,Nancy,101
Urman,112,Nancy,101
Popp,113,Nancy,101
Raphaely,114,Steven,NULL
Khoo,115,Den,100
Baida,116,Den,100
Tobias,117,Den,100

In [12]:
--Table10
select e.last_name,d.department_id from employees e 
join departments d ON e.department_id = d.department_id
order by e.last_name ASC

last_name,department_name
King,Executive
Kochhar,Executive
De Haan,Executive
Hunold,IT
Ernst,IT
Austin,IT
Pataballa,IT
Lorentz,IT
Greenberg,Finance
Faviet,Finance
Chen,Finance
Sciarra,Finance
Urman,Finance
Popp,Finance
Raphaely,Purchasing
Khoo,Purchasing
Baida,Purchasing
Tobias,Purchasing
Himuro,Purchasing
Colmenares,Purchasing
Weiss,Shipping
Fripp,Shipping
Kaufling,Shipping
Vollman,Shipping
Mikkilineni,Shipping
Russell,Sales
Partners,Sales
Taylor,Sales
Livingston,Sales
Grant,Sales
Johnson,Sales
Bell,Shipping
Everett,Shipping
Whalen,Administration
Hartstein,Marketing
Fay,Marketing
Mavris,Human Resources
Baer,Public Relations
Higgins,Accounting
Gietz,Accounting

In [1]:
--Table11
select e.first_name+''+e.last_name AS "Name",j.job_title,e.department_id,e.salary
from employees e
join jobs j
on e.job_id = j.job_id

Name,job_title,department_id,salary
StevenKing,President,9,24000.00
NeenaKochhar,Administration Vice President,9,17000.00
LexDe Haan,Administration Vice President,9,17000.00
AlexanderHunold,Programmer,6,9000.00
BruceErnst,Programmer,6,6000.00
DavidAustin,Programmer,6,4800.00
ValliPataballa,Programmer,6,4800.00
DianaLorentz,Programmer,6,4200.00
NancyGreenberg,Finance Manager,10,12000.00
DanielFaviet,Accountant,10,9000.00
JohnChen,Accountant,10,8200.00
IsmaelSciarra,Accountant,10,7700.00
Jose ManuelUrman,Accountant,10,7800.00
LuisPopp,Accountant,10,6900.00
DenRaphaely,Purchasing Manager,3,11000.00
AlexanderKhoo,Purchasing Clerk,3,3100.00
ShelliBaida,Purchasing Clerk,3,2900.00
SigalTobias,Purchasing Clerk,3,2800.00
GuyHimuro,Purchasing Clerk,3,2600.00
KarenColmenares,Purchasing Clerk,3,2500.00
MatthewWeiss,Stock Manager,5,8000.00
AdamFripp,Stock Manager,5,8200.00
PayamKaufling,Stock Manager,5,7900.00
ShantaVollman,Stock Manager,5,6500.00
IreneMikkilineni,Stock Clerk,5,2700.00
JohnRussell,Sales Manager,8,14000.00
KarenPartners,Sales Manager,8,13500.00
JonathonTaylor,Sales Representative,8,8600.00
JackLivingston,Sales Representative,8,8400.00
KimberelyGrant,Sales Representative,8,7000.00
CharlesJohnson,Sales Representative,8,6200.00
SarahBell,Shipping Clerk,5,4000.00
BritneyEverett,Shipping Clerk,5,3900.00
JenniferWhalen,Administration Assistant,1,4400.00
MichaelHartstein,Marketing Manager,2,13000.00
PatFay,Marketing Representative,2,6000.00
SusanMavris,Human Resources Representative,4,6500.00
HermannBaer,Public Relations Representative,7,10000.00
ShelleyHiggins,Accounting Manager,11,12000.00
WilliamGietz,Public Accountant,11,8300.00

In [13]:
----- Sub-QUERY Section -----
--Table1
select last_name, hire_date 
from employees
where hire_date = any
(select hire_date from employees where last_name IN 
('Russell','Partners','Taylor','Livingston','Grant','Johnson') )

last_name,hire_date
Russell,1996-10-01
Partners,1997-01-05
Taylor,1998-03-24
Livingston,1998-04-23
Grant,1999-05-24
Johnson,2000-01-04

In [14]:
--Table2
select employee_id,first_name,salary 
from employees
where salary between 8200 and 24000 
order by salary ASC

employee_id,first_name,salary
110,John,8200.00
121,Adam,8200.00
206,William,8300.00
177,Jack,8400.00
176,Jonathon,8600.00
109,Daniel,9000.00
103,Alexander,9000.00
204,Hermann,10000.00
114,Den,11000.00
108,Nancy,12000.00
205,Shelley,12000.00
201,Michael,13000.00
146,Karen,13500.00
145,John,14000.00
101,Neena,17000.00
102,Lex,17000.00
100,Steven,24000.00

In [15]:
--Table3
select employee_id as "Employee Number", last_name
from employees
where employee_id IN ('103','105','112','118','122','145')

Employee Number,last_name
103,Hunold
105,Austin
112,Urman
118,Himuro
122,Kaufling
145,Russell

In [16]:
--Table4
select last_name,department_id as "Department Number",job_id
from employees
where department_id = 
(select department_id from departments where department_id = 4)

last_name,Department Number,job_id
Mavris,4,8

In [17]:
--Table5
select last_name,salary 
from employees
where salary = any
(select salary from employees where salary between 6200.00 and 17000.00 )

last_name,salary
Kochhar,17000.00
De Haan,17000.00
Hunold,9000.00
Greenberg,12000.00
Faviet,9000.00
Chen,8200.00
Sciarra,7700.00
Urman,7800.00
Popp,6900.00
Raphaely,11000.00
Weiss,8000.00
Fripp,8200.00
Kaufling,7900.00
Vollman,6500.00
Russell,14000.00
Partners,13500.00
Taylor,8600.00
Livingston,8400.00
Grant,7000.00
Johnson,6200.00
Hartstein,13000.00
Mavris,6500.00
Baer,10000.00
Higgins,12000.00
Gietz,8300.00

In [18]:
--Table6
select department_id as "Department Number",last_name,job_id
from employees
where department_id = 6

Department Number,last_name,job_id
6,Hunold,9
6,Ernst,9
6,Austin,9
6,Pataballa,9
6,Lorentz,9

In [19]:
--Table7
select employee_id,last_name,salary
from employees
where employee_id IN('103','145')

employee_id,last_name,salary
103,Hunold,9000.00
145,Russell,14000.00

In [20]:
--Table8
select first_name from employees
where first_name IN ('john','karen','jonathon','jack','kimberely','charels')

first_name
John
Karen
John
Karen
Jonathon
Jack
Kimberely

In [21]:
--Table9
select last_name, salary from employees
where last_name IN ('king','kochhar','de haan')

last_name,salary
King,24000.00
Kochhar,17000.00
De Haan,17000.00

In [22]:
--Table10
select first_name,salary,department_id from employees
where  first_name IN ('neena','lex','john')
AND department_id IN ('9','8')

first_name,salary,department_id
Neena,17000.00,9
Lex,17000.00,9
John,14000.00,8